:root {
   // Color syntax hightlight
   --color-token-01: #ebefef;
   --color-token-02: #e96379;
   --color-token-03: #ffc457;
   --color-token-04: #c286ea;
   --color-token-05: #61d1c6;
   --color-token-06: #f7825f;
   --color-token-07: #afdb70;
   --color-token-08: #5c7a8a;
}
