:root {
   // Token syntax colors
   --color-syntax-01: #e3e5e8;
   --color-syntax-02: #e96379;
   --color-syntax-03: #ffc457;
   --color-syntax-04: #c286ea;
   --color-syntax-05: #61d1c6;
   --color-syntax-06: #f7825f;
   --color-syntax-07: #afdb70;
   --color-syntax-08: #677e7e;
}
