:root {
   // Syntax hightlighting
   --color-token-01: #f0ffff;
   --color-token-02: #f25a73;
   --color-token-03: #ffc457;
   --color-token-04: #c286ea;
   --color-token-05: #61d1c6;
   --color-token-06: #f7825f;
   --color-token-07: #b6e274;
   --color-token-08: #587f93;
}
